// vim:ft=javascript
{
    env: {
        development: {
            sourceMaps: 'inline',
        }
    },

    presets: [
        ['@babel/preset-env', {
            // only include polyfills if they're used
            useBuiltIns: 'usage',

            // set this to true to see the applied transforms and bundled polyfills
            debug: false,

            targets: { node: 4 }, // same as Babel 7
        }],
    ],
}
